<%- include('./partials/head') %> 
<body>
	<%- include('./partials/header') %> 
	<h1>login</h1>
    <a href="/">Volver...</a>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <img width="100%" src="/images/images.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<%- include('./partials/footer') %> 
</body>
</html>